
Imersão 5/Desafio Web Scraping - Turma 1/.ipynb_checkpoints/Versão Final - T1-checkpoint.ipynb
Imersão 5/Desafio Web Scraping - Turma 2/.ipynb_checkpoints/Função Extrair preçõs da Farmácia por EAN-checkpoint.ipynb
*.ipynb
